@charset "utf-8";
*{
	margin:0;
	color:#333333;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none !important;
	/*overflow: scroll;*/
  /*font-family: 'Courier New';*/
  font-family: 'Hiragino Mincho Pro';
}
.over{
		overflow: hidden;
}
.inner{
  overflow: hidden;
}
canvas{
  /*max-width: 950px;*/
  width: 100%;
  margin:0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#particles-js{
position: relative;
  /*max-width: 950px;*/
  width: 100%;
  height:500px;
  margin:0 auto;
  /*background-color:#1a1a1a;*/
background-image:url("./img/darkflower.jpg");
}
#particles-js>.inner{
	padding: 0;
}
#particles-js h1{
	position: relative;
	top: 50%;
	color: white;
	text-shadow: 3px 2px 3px #cccccc;
}
.inner{
	max-width: 950px;
	margin:0 auto;
	/*padding: 10px 0 40px;*/
	text-align: center;
}
table{
	width:80%;
	text-align: center;
	box-shadow: 4px 4px 2px 2px #555555;
}
td{
	width: 50%;
}
.table > thead > tr > th{
    border:2px solid #4d4d4d;
    background-color:#b3b3b3;
	background:rgba(255,255,255,0.9);
}
.table > tbody > tr > td{
    border:2px solid #4d4d4d;
    background-color:#b4b4b4;
	background:rgba(255,255,255,0.5);
}
th{
	/*background-color:#b4b4b4;*/
}
button{
	background-color: #f4b4d0;
	box-shadow: 4px 4px 4px 4px #777777;
}
.button-arrow{
  margin:0 auto;
  width: 100%;
	text-align:center;
}
.btn-arrow :hover{
	background-color:blue;
}
.table-responsive{
	width: 80%;
}
{ 
	color: white !important;
	
	margin: 0 auto;
	width: 120px;
	padding: 30px 0 10px;
}
.btn{
	color: white;
	background-color:gray;
	box-shadow: 4px 4px 4px #f8f8f8;
	text-shadow: 2px 2px 2px #f6f6f6;
}
.btn:hover{
	color: gray !important;
	background-color:#f5f5f5;
	text-shadow: 2px 2px 2px gray;
}
.btn-arrow a{
	box-shadow: 4px 4px 4px #f8f8f8;
}
h4{
	font-size: 1.8rem !important;
}
p,h4{
  margin: 150px 0 200px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 0.8rem;
  color: #fff !important;
  text-shadow: 0 0 10px rgba(0,0,0,.4);
}
i{
	font-size:5rem;
	color: white;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
    top: 50px;
    /*left: 50%;*/
    /*margin-top: .5em;*/
}
i p{
	font-size:1.1rem;
	margin-top: 0.5rem;
}
.icon-back{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
    margin:0 auto;
}
#icon-first{
	/*background-color: #a7366d;*/
}
#icon-second{
	/*background-color: #486a00;*/
}
#icon-third{
	/*background-color: #00426d;*/
}
#rgba-icon{
  background-color:rgba(205,235,255,0.4);
  border-radius: 50%;
}
#rgba-icon2{
  background-color:rgba(255,205,255,0.4);
  border-radius: 50%;
}
#rgba-icon3{
  background-color:rgba(255,235,205,0.4);
  border-radius: 50%;
}

/*ーーーーーーーーーーーーーーーーーーーーー*/
header{
background-color:gray;
  /*background:rgba(255,255,255,0.9);*/
}
.header-color{
	width: 100%;
  height: 100px;
}
.pre-header{
  position: relative;
	height: 100%;
  background:rgba(255,255,255,0.2);
}
.header-color a{
	color: white;
}
.header-left{
  float: left;
}
.hide-small{
  position: relative;
  right: 0;
  float: right;
}
header>.inner{
	padding:0;
}
.pre-header>.inner,header h1{
	/*background-color: #1a1a1a !important;*/
	display: flex !important;
	justify-content: space-between;
	height: 80px;
  /*float: left;*/
	line-height: 80px;
	vertical-align: middle;
	color: white;
}
.pre-header ul{
  float: right;
}
.header-color li{
	display: inline-block;
	padding: 0 20px;

}
.top-wrapper-color{
	background-image: url("./img/sunsetflower.jpg");
	background-size: cover;
	background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
}
/*:beforeにぼかし効果を設定する*/
.top-wrapper-color:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}
.top-wrapper-color p{
	padding: 5px;
	/*line-height: 25px;*/
}
.top-wrapper-color img{
	 width: 30rem;
  height: 30rem;
  border-radius: 20%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    object-fit: cover; /* ADD */
}
/*:beforeにぼかし効果を設定する*/
.body1:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}
.body1{
	background-image: url("./img/slider4.jpg");
	background-size: cover;
	background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
  height: auto;
  padding: 80px;
}
.body7:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}
.body7{
	background-image: url("./img/darkforest.jpg");
	background-size: cover;
	background-position: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.body7>.inner h4{
	font-size: 1.1rem !important;
}
.rgba2{
	/*background-color: white;*/
}
.body4:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}
.body4{
	background-image: url("./img/silder5.jpg");
	background-size: cover;
	background-position: center;
  position: relative;
  z-index: 60;
  overflow: hidden;
}
.body4>.inner{
	height:300px;
	
}
.rgba3{
	/*background:rgba(255,255,255,0.3);*/
}
.contact p, form label{
	color: white;
}
.info-title {
	color: white;
}
footer{
	background-color:#666666;
	background-size: cover;
	background-position: center;
	height: 80px;
	line-height: 80px;
	vertical-align: 80px;
}
footer p{
	margin-bottom: 0;
}
.banner p{
	padding-top: 20px;
	text-align: left;
	color: white;
	text-shadow: 2px 2px 2px #4d4d4d;
}
.info{
	text-align: center;
}
.contact{
	text-align: center;
}
.swiper-button-prev{
	color: black;
}
.swiper-container{
  /*height: 300px;*/
  height: auto;
  width: 80% !important;
}
.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}
.swiper-button-prev {
    background: url(https://haniwaman.com/wp-content/uploads/2018/05/swiper3.png) no-repeat center center / contain;
}
.swiper-button-next {
    background: url(https://haniwaman.com/wp-content/uploads/2018/05/swiper4.png) no-repeat center center / contain;
}
/*ヘッダーまわりはサイトに合わせて調整してください*/
header {
  padding:10px;
  /*background: skyblue;*/
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: none;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.swiper-slide{
  height: 400px;
}
.swiper-slide img{
  height: 400px;
  width: 100%;
}
.email{
margin:0 auto;
width:100%;
text-align:center;
}

.circle{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:0 auto;
  width: 100%;
  text-align: center;
}
.circle-in{
  width: 30%;
}

#particles-js>.inner{
  position: relative;
  top: 50%;
}
#particles-js h1{
	left:0 !important;
}
